@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;8..144,500&display=swap");
@import "./mixin.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Roboto Serif", serif;
}

a {
  text-decoration: none;
  width: fit-content;
}

$bg-white: #ffffff;
$bg-light-gray: #f0ebdf;
$color-black: #161616;
$bg-btn: #1577ea;
$bg-green: #038829;
$error-color: #ff4040;

$bg-logout: #ffb032;

body {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  margin: 0 auto;
  background: $bg-light-gray;
  gap: 40px;
}

.btn {
  border: 2px solid #0c6cda;
  max-width: 300px;
  width: 100%;
  background: #0c6cda;
  height: 42px;
  border-radius: 5px;
  color: $bg-white;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    background: #4e97ec;
  }

  &--register {
    border: 2px solid $bg-logout;
    background: $bg-logout;
    color: $bg-white;

    &:hover {
      background: #f1c071;

    }
  }

  &--logout {
    border: 2px solid $bg-logout;
    background: $bg-logout;
    font-size: 14px;
    font-weight: 500;
    width: 150px;
    height: 38px;

    &:hover {
      background: #f1c071;
    }
  }

  &--edit-shift {
    border: 2px solid $bg-logout;
    background: $bg-logout;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    height: 38px;
    padding: 0 4px;

    &:hover {
      background: #f1c071;
    }
  }

  &--delete-shift {
    border: 2px solid $error-color;
    background: $error-color;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    height: 38px;
    padding: 0 4px;

    &:hover {
      background: #ff7070;
    }
  }

  &--search {
    border: 2px solid $bg-btn;
    background: $bg-btn;
    font-size: 14px;
    font-weight: 500;
    width: max-content;
    height: 30px;
    padding: 0 10px;

    &:hover {
      background: #3694ff;
    }
  }
}

.register-box {
  max-width: 1000px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  gap: 50px;

  &__content {
    @include flexBox(475px, auto, row, center, center, unset);

  }

  &__banner {
    max-width: 475px;
    width: 100%;
    height: 100%;
    background: url(../images/create-account.webp) no-repeat center/cover;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);

  }
}

.filter {
  @include flexBox(1000px, auto, row, center, center, 20px);

  &__box {
    @include flexBox(490px, auto, row, space-between, center, unset);
  }

  &__label {
    @include typography($color-black, 14px, normal, 400, normal, normal, none, right);
  }

  &__input {
    @include typography($color-black, 16px, normal, 400, normal, normal, none, left);
    height: 32px;
    border-radius: 5px;
    outline: none;
    padding: 0 10px;
    border: 1px solid #e8e8e8;
  }
}

.shift {
  //@include flexBox(1000px, 100%, row, flex-start, center, 50px);
  max-width: 1000px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  gap: 50px;

  &__content {
    @include flexBox(475px, auto, column, flex-start, center, 30px);
    background: $bg-white;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);

  }

  &__banner {
    max-width: 475px;
    width: 100%;
    height: 100%;
    background: url(../images/login.jpeg) no-repeat center/cover;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
  }

  &__img {
    position: absolute;
    width: 22px;
    height: 22px;
    right: 261px;
    top: 6px;
  }

  &__title {
    @include typography($bg-btn, 32px, normal, 500, normal, normal, none, center);
  }

  &__form {
    @include flexBox(475px, auto, column, center, center, 20px);
  }

  &__box {
    @include flexBox(475px, auto, column, center, flex-start, 7px);
  }

  &__label {
    @include typography($color-black, 14px, normal, 400, normal, normal, none, right);
    max-width: 100px;
    width: 100%;
  }

  &__input-box {
    @include flexBox(475px, auto, row, center, center, 35px);
    position: relative;
  }

  &__error {
    @include typography($error-color, 12px, normal, 400, normal, normal, none, left);
    padding-left: 140px;
  }

  &__input {
    max-width: 290px;
    width: 100%;
    height: 32px;
    padding: 5px 15px 5px 35px;

    @include typography($color-black, 16px, normal, 400, normal, normal, none, left);
    opacity: 0.55;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    outline: none;

    &:focus {
      background: #f7fffc;
      border: 1px solid $bg-green;
      color: $bg-green;
    }

    &--error {
      border: 1px solid $error-color;
      color: $error-color;
    }

    &--valid {
      border: 1px solid $bg-green;
      color: $bg-green;
    }

    &--workplace {
      padding: 5px;
    }

    &--comment {
      height: auto;
      padding: 5px;
    }

    &--search {
      max-width: 170px;
      padding: 5px;
    }
  }
}

.hide {
  display: none;
}