@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;8..144,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Roboto Serif", serif;
}

a {
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
}

body {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  margin: 0 auto;
  background: #f0ebdf;
  gap: 40px;
}

.btn {
  border: 2px solid #0c6cda;
  max-width: 300px;
  width: 100%;
  background: #0c6cda;
  height: 42px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}
.btn:hover {
  background: #4e97ec;
}
.btn--register {
  border: 2px solid #ffb032;
  background: #ffb032;
  color: #ffffff;
}
.btn--register:hover {
  background: #f1c071;
}
.btn--logout {
  border: 2px solid #ffb032;
  background: #ffb032;
  font-size: 14px;
  font-weight: 500;
  width: 85px;
  height: 25px;
}
.btn--logout:hover {
  background: #f1c071;
}
@media (max-width: 768px) {
  .btn--logout {
    font-size: 12px;
  }
}
.btn--edit-shift {
  border: 2px solid #ffb032;
  background: #ffb032;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 45px;
  padding: 3px 4px;
}
.btn--edit-shift:hover {
  background: #f1c071;
}
@media (max-width: 768px) {
  .btn--edit-shift {
    font-size: 14px;
    height: 35px;
    padding: 1px 4px;
  }
}
@media (max-width: 500px) {
  .btn--edit-shift {
    font-size: 12px;
    height: 33px;
    padding: 0 4px;
  }
}
.btn--delete-shift {
  border: 2px solid #ff4040;
  background: #ff4040;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 45px;
  padding: 3px 4px;
}
.btn--delete-shift:hover {
  background: #ff7070;
}
@media (max-width: 768px) {
  .btn--delete-shift {
    font-size: 14px;
    height: 35px;
    padding: 1px 4px;
  }
}
@media (max-width: 500px) {
  .btn--delete-shift {
    font-size: 12px;
    height: 33px;
    padding: 0 4px;
  }
}
.btn--search {
  border: 2px solid #1577ea;
  background: #1577ea;
  font-size: 14px;
  font-weight: 500;
  width: -moz-max-content;
  width: max-content;
  height: 30px;
  padding: 0 10px;
}
.btn--search:hover {
  background: #3694ff;
}
@media (max-width: 768px) {
  .btn--search {
    font-size: 12px;
  }
}

.register-box {
  max-width: 1000px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  gap: 50px;
}
@media (max-width: 1000px) {
  .register-box {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
  }
}
.register-box__content {
  max-width: 475px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: unset;
}
.register-box__banner {
  max-width: 475px;
  width: 100%;
  height: 100%;
  background: url(../images/create-account.jpg) no-repeat center/cover;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
}
@media (max-width: 1000px) {
  .register-box__banner {
    height: 300px;
  }
}

.filter {
  max-width: 1000px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1000px) {
  .filter {
    max-width: 500px;
    flex-direction: column;
  }
}
.filter__box {
  max-width: 490px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
@media (max-width: 500px) {
  .filter__box {
    gap: 7px;
  }
}
.filter__label {
  color: #161616;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  text-align: right;
}
@media (max-width: 768px) {
  .filter__label {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .filter__label {
    font-size: 12px;
  }
}
.filter__input {
  color: #161616;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  height: 32px;
  border-radius: 5px;
  outline: none;
  padding: 0 10px;
  border: 1px solid #e8e8e8;
}
@media (max-width: 768px) {
  .filter__input {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .filter__input {
    font-size: 12px;
  }
}

.shift {
  max-width: 1000px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  gap: 50px;
}
@media (max-width: 1000px) {
  .shift {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
  }
}
.shift__content {
  max-width: 475px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  background: #ffffff;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
}
.shift__banner {
  max-width: 475px;
  width: 100%;
  height: 100%;
  background: url(../images/login.jpeg) no-repeat center/cover;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
}
@media (max-width: 1000px) {
  .shift__banner {
    height: 300px;
  }
}
.shift__img {
  position: absolute;
  width: 22px;
  height: 22px;
  left: 143px;
  top: 6px;
}
@media (max-width: 768px) {
  .shift__img {
    width: 21px;
    height: 21px;
    left: 143px;
    top: 4px;
  }
}
@media (max-width: 500px) {
  .shift__img {
    width: 20px;
    height: 20px;
    left: 143px;
    top: 3px;
  }
}
.shift__title {
  color: #1577ea;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  text-align: center;
}
@media (max-width: 768px) {
  .shift__title {
    font-size: 28px;
  }
}
@media (max-width: 500px) {
  .shift__title {
    font-size: 24px;
  }
}
.shift__form {
  max-width: 475px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.shift__box {
  max-width: 475px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 7px;
}
.shift__label {
  color: #161616;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  text-align: right;
  max-width: 105px;
  width: 100%;
}
@media (max-width: 768px) {
  .shift__label {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .shift__label {
    font-size: 12px;
  }
}
.shift__input-box {
  max-width: 475px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 35px;
  position: relative;
}
.shift__error {
  color: #ff4040;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  padding-left: 140px;
}
.shift__input {
  max-width: 290px;
  width: 100%;
  height: 32px;
  padding: 5px 15px 5px 35px;
  color: #161616;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  opacity: 0.55;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  outline: none;
}
@media (max-width: 768px) {
  .shift__input {
    font-size: 14px;
    height: 28px;
    padding: 3px 15px 3px 35px;
  }
}
@media (max-width: 500px) {
  .shift__input {
    font-size: 12px;
    height: 24px;
    padding: 1px 15px 1px 35px;
  }
}
.shift__input:focus {
  background: #f7fffc;
  border: 1px solid #038829;
  color: #038829;
}
.shift__input--error {
  border: 1px solid #ff4040;
  color: #ff4040;
}
.shift__input--valid {
  border: 1px solid #038829;
  color: #038829;
}
.shift__input--workplace {
  padding: 1px 5px;
}
.shift__input--comment {
  height: 100px;
  padding: 5px;
}
.shift__input--search {
  max-width: 170px;
  padding: 5px;
}

.hide {
  display: none;
}

body {
  align-items: start;
}

header {
  max-width: 1000px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: unset;
}

.navbar {
  max-width: 1000px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.navbar__browser {
  max-width: 1000px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: unset;
  background: #ffffff;
  padding: 10px 27px;
  border-radius: 10px;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
  position: relative;
}
@media (max-width: 850px) {
  .navbar__browser {
    padding: 10px 10px;
  }
}
@media (max-width: 768px) {
  .navbar__browser {
    padding: 10px 35px;
  }
}
@media (max-width: 500px) {
  .navbar__browser {
    padding: 10px 20px;
  }
}
.navbar__img {
  width: 125px;
}
@media (max-width: 768px) {
  .navbar__img {
    width: 100px;
  }
}
.navbar__mobile-img {
  width: 25px;
  height: 25px;
}
@media (max-width: 500px) {
  .navbar__mobile-img {
    width: 20px;
    height: 20px;
  }
}
.navbar__links {
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (max-width: 850px) {
  .navbar__links {
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .navbar__links {
    display: none;
  }
}
.navbar__footer {
  max-width: 1000px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  background: #ffffff;
  padding: 10px 27px;
  border-radius: 10px;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
}
@media (max-width: 768px) {
  .navbar__footer {
    padding: 10px 5px;
    gap: 5px;
  }
}
@media (max-width: 500px) {
  .navbar__footer {
    flex-direction: column;
    flex-direction: column-reverse;
  }
}
.navbar__footer-links {
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (max-width: 768px) {
  .navbar__footer-links {
    gap: 15px;
  }
}
@media (max-width: 500px) {
  .navbar__footer-links {
    flex-direction: column;
    gap: 10px;
  }
}
.navbar__copyright {
  color: #161616;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  text-align: center;
}
@media (max-width: 768px) {
  .navbar__copyright {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .navbar__copyright {
    font-size: 12px;
  }
}
.navbar__mobile-links {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  position: fixed;
  z-index: 1;
  left: -60%;
  top: 0;
  width: 60%;
  height: 100%;
  overflow: auto;
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 1.5s ease-in-out;
}
.navbar__item {
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
  height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: unset;
  padding: 0 15px;
  background: #038829;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .navbar__item {
    padding: 0 10px;
  }
}
@media (max-width: 500px) {
  .navbar__item {
    padding: 0 5px;
    height: 25px;
  }
}
.navbar__mobile-item {
  max-width: 75%;
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  padding: 0 10px;
  background: #038829;
  border-radius: 5px;
  border: 1px solid #038829;
}
.navbar__mobile-item:hover {
  background: #0fa339;
}
@media (max-width: 500px) {
  .navbar__mobile-item {
    height: 29px;
  }
}
.navbar__link {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  text-align: center;
}
@media (max-width: 768px) {
  .navbar__link {
    font-size: 13px;
  }
}
@media (max-width: 500px) {
  .navbar__link {
    font-size: 12px;
    width: 200px;
  }
}
.navbar__mobile-link {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  text-align: center;
}
@media (max-width: 500px) {
  .navbar__mobile-link {
    font-size: 12px;
  }
}
.navbar__user {
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .navbar__user {
    flex-direction: row;
    gap: 30px;
  }
}
@media (max-width: 500px) {
  .navbar__user {
    flex-direction: column;
    gap: 10px;
  }
}
.navbar__span {
  min-width: -moz-min-content;
  min-width: min-content;
  color: #1577ea;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  text-align: center;
}
@media (max-width: 768px) {
  .navbar__span {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .navbar__span {
    font-size: 12px;
  }
}
.navbar__hamburger-menu {
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  .navbar__hamburger-menu {
    display: block;
  }
}
.navbar__hamburger-img {
  width: 40px;
  height: 40px;
}

.shifts {
  max-width: 985px;
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1000px) {
  .shifts {
    overflow: scroll;
    align-items: flex-start;
  }
}
.shifts__table {
  width: 985px;
  border-style: none;
  border-collapse: collapse;
}
@media (max-width: 768px) {
  .shifts__table {
    width: 895px;
  }
}
@media (max-width: 500px) {
  .shifts__table {
    width: 825px;
  }
}
.shifts__table th,
.shifts__table td {
  color: brown;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  text-align: center;
  padding: 15px 17px;
}
@media (max-width: 768px) {
  .shifts__table th,
  .shifts__table td {
    font-size: 14px;
    padding: 12px 14px;
  }
}
@media (max-width: 500px) {
  .shifts__table th,
  .shifts__table td {
    font-size: 12px;
    padding: 9px 14px;
  }
}
.shifts__workplace {
  width: 181px;
}
@media (max-width: 768px) {
  .shifts__workplace {
    width: 170px;
  }
}
@media (max-width: 500px) {
  .shifts__workplace {
    width: 158px;
  }
}
.shifts__tr {
  border-bottom: 1px solid red;
}
.shifts__tr:hover {
  background: #f8f4eb;
}
.shifts__edit {
  max-width: 210px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
@media (max-width: 768px) {
  .shifts__edit {
    width: 185px;
  }
}
.shifts__title {
  color: #161616;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  text-align: center;
}
@media (max-width: 768px) {
  .shifts__title {
    font-size: 24px;
  }
}
@media (max-width: 500px) {
  .shifts__title {
    font-size: 22px;
  }
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__container {
  max-width: 515px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: unset;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}
.modal__img {
  width: 48px;
  height: 48px;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
}

.delete {
  position: fixed;
  text-align: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.delete__container {
  background-color: #fefefe;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #888;
  width: -moz-max-content;
  width: max-content;
  border-radius: 5px;
  position: absolute;
}
.delete__buttons {
  max-width: 500px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  margin-top: 35px;
}

footer {
  max-width: 1000px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.hide {
  display: none;
}

.active {
  left: 0;
}/*# sourceMappingURL=style.css.map */