@import "./global.scss";


body {
    align-items: start
}

header {
    @include flexBox(1000px, auto, column, space-between, center, 20px);
}

.navbar {
    @include flexBox(1000px, auto, row, space-between, center, unset);
    background: $bg-white;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);

    &__img {
        width: 770px;
    }

    &__links {
        @include flexBox(max-content, auto, row, center, center, 30px);
    }

    &__item {
        @include flexBox(max-content, 38px, row, center, center, unset);
        padding: 0 15px;
        background: $bg-green;
        border-radius: 5px;
    }

    &__link {
        @include typography($bg-white, 14px, normal, 500, normal, normal, none, center);

    }

    &__user {
        @include flexBox(max-content, auto, row, center, center, 35px);
    }

    &__span {
        min-width: min-content;
        @include typography($bg-btn, 24px, normal, 500, normal, normal, none, center);
    }
}

.shifts {
    @include flexBox(1000px, auto, column, space-between, center, 20px);

    &__table {
        width: 100%;
        border-style: none;
        border-collapse: collapse;

        th,
        td {
            text-align: center;
            padding: 15px 10px;
            color: brown;
            // border-bottom: 1px solid red;

        }

    }


    &__tr {
        border-bottom: 1px solid red;

        &:hover {
            background: #f8f4eb;
        }
    }

    &__edit {
        @include flexBox(180px, auto, row, space-between, center, 5px);
    }

    &__title {
        @include typography($color-black, 32px, normal, 500, normal, normal, none, center);
    }
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    &__container {
        @include flexBox(515px, auto, row, space-between, center, unset);
        margin: 15% auto;
        padding: 20px;
        border-radius: 5px;
        position: relative;

    }

    &__img {
        width: 48px;
        height: 48px;
        position: absolute;
        right: 0px;
        top: 0px;
        cursor: pointer;
    }
}

.delete {
    position: fixed;
    text-align: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    &__container {
        background-color: #fefefe;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border: 1px solid #888;
        width: max-content;
        border-radius: 5px;
        position: absolute;
    }

    &__buttons {
        @include flexBox(500px, auto, row, space-between, center, 25px);
        margin-top: 35px;
    }
}

footer {
    @include flexBox(1000px, auto, column, space-between, center, 20px);
}